.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  background-color: grey;
  color: white;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5em;
  font: 2em sans-serif;
  font-weight: bold;
  transition: filter 300ms;
}
